<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{cafe.name}}</title>
    <link href="/static/css/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/static/icons/coffee_favicon.png">
</head>
<body class="white_font">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ url_for('get_all_cafes') }}">Cafes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{url_for('add_new_cafe')}}">Add New Cafe</a></li>
            </ul>
        </div>
    </div>
</nav>

{{cafe.id}}
<div class="black_div_cafe">

    <center><a class="no_decoration" href="{{cafe.map_url}}" target="_blank" style="color:white;"><h4
            style="display: inline;" class="uppercase">{{cafe.name}}&nbsp</h4><img class="large_icon"
                                                                                   src="/static/icons/google_maps.png"
                                                                                   style="margin-bottom:8px;"></a>
    </center>

    <center><h5>@{{ cafe.location }}</h5></center>
    <div class="cafe_record">
        <img class="image_border" src="{{ cafe.img_url }}"
             style="margin:10px; height:300px; width:450px; --color:black;">

        <div class="text">


            <div class="flex_div" style="margin-top:80px;">
                <img class="large_icon" src="/static/icons/coffee.png"/>

                <h5 style="margin-top:3px;">&nbsp{{ cafe.coffee_price }}</h5>

            </div>
            <div class="flex_div" style="margin-top:10px; margin-bottom:40px;">
                <img class="large_icon" src="/static/icons/seats.png"/>

                <h5 style="margin-top:3px;">&nbsp{{ cafe.seats }}</h5>
            </div>


            <div class='componentWrapper'><h6 class="header">Facilities</h6>
                {% if cafe.has_sockets: %}
                <img class="medium_icon" src="/static/icons/download.png"/>

                {% endif %}
                {% if cafe.has_toilet: %}
                <img class="medium_icon" src="/static/icons/toilet.png"/>

                {% endif %}
                {% if cafe.has_wifi: %}
                <img class="medium_icon" src="/static/icons/wifi.png"/>

                {% endif %}
                {% if cafe.can_take_calls: %}
                <img class="medium_icon" src="/static/icons/calls.png"/>

                {% endif %}
            </div>
        </div>
    </div>
    <a style="margin-left:570px;" href="{{url_for('edit_cafe', cafe_id=cafe.id)}}"><img src="/static/icons/pencil.png"
                                                                                        class="medium_icon"></a>
    <a class="no_decoration" href="{{url_for('delete_cafe', cafe_id=cafe.id) }}">&nbsp&nbsp<img
            class="medium_icon" src="/static/icons/delete.png"></a>

</div>
</body>
</html>