<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="/static/css/styles.css" rel="stylesheet" />
</head>
<body class="full">
{{cafe.id}}
<div class="black_div">
    <div class="cafe_record">
   <img src="{{ cafe.img_url }}" style="margin:10px; height:300px; width:450px;">

    <div class="text">
            <a href="{{cafe.map_url}}" target="_blank" style="display:flex; text-decoration: none; color:white;">
        <h4 class="uppercase">{{cafe.name}}&nbsp</h4>
        <img src="/static/icons/google_maps.png" style="width:32px; height:32px;"/>
                </a>

        <h5>@{{ cafe.location }}</h5>
        <div style="display:flex;">
        <img src="/static/icons/seats.png" style="width:32px; height:32px;"/>

        <h6>{{ cafe.seats }}</h6>
        </div>
        <div style="display:flex;">
        <img src="/static/icons/coffee.png" style="width:32px; height:32px;"/>

        <h6>{{ cafe.coffee_price }}</h6>
            </div>
        <img src="/static/icons/sockets.png" style="width:32px; height:32px;"/>
        {% if cafe.has_sockets: %}
         <img src="/static/icons/happiness.png"/>
        {% else: %}
        <img src="/static/icons/sad.png"/>
        {% endif %}
        <br>
        <img src="/static/icons/toilet.png" style="width:32px; height:32px;"/>
        {% if cafe.has_toilet: %}
        <img src="/static/icons/happiness.png"/>
        {% else: %}
        <img src="/static/icons/sad.png"/>
        {% endif %}
        <br>
        <img src="/static/icons/wifi.png" style="width:32px; height:32px;"/>
        {% if cafe.has_wifi: %}
        <img src="/static/icons/happiness.png"/>
        {% else: %}
        <img src="/static/icons/sad.png"/>
        {% endif %}
        <br>
        <img src="/static/icons/calls.png" style="width:32px; height:32px;"/>
        {% if cafe.can_take_calls: %}
        <img src="/static/icons/happiness.png"/>
        {% else: %}
        <img src="/static/icons/sad.png"/>
        {% endif %}
        <!--<a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by Freepik - Flaticon</a>-->
    </div>
        </div>
</div>
</body>
</html>