<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cafes</title>

    <link href="/static/css/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/static/icons/coffee_favicon.png">

</head>
<body class="white_font">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ url_for('get_all_cafes') }}">Cafes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{url_for('add_new_cafe')}}">Add New Cafe</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="cafes_list">
    {% for cafe in cafes %}
    <li class="clickable" onclick="location.href = '{{ url_for('show_cafe', cafe_id=cafe.id) }}'">
        <div class="cafe_record">
            <div class="image">
                <img class="thumbnail_cafe" src="{{ cafe.img_url }}">
            </div>
            <div class="text">
                <p class="uppercase">{{ cafe.name }}</p>
                <p><img class="mini_icon" src="/static/icons/city.png">&nbsp {{ cafe.location }}</p>
                <div class="flex_div">
                    <p><img class="mini_icon" src="/static/icons/coffee.png">&nbsp {{ cafe.coffee_price
                        }}</p>
                    <a style="margin-left:140px;" href="{{url_for('edit_cafe', cafe_id=cafe.id)}}"><img
                            class="mini_icon" src="/static/icons/pencil.png"></a>
                    <a class="no_decoration" href="{{url_for('delete_cafe', cafe_id=cafe.id) }}">&nbsp&nbsp<img
                            class="mini_icon" src="/static/icons/delete.png"></a>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

</body>
</html>